body {
  margin: 0;
  padding: 0; }

.content {
  margin: 0;
  padding: 0; }
  .content h1 {
    margin: 0;
    font-size: 18px;
    background-color: #4267B2;
    color: #fff;
    padding: 10px 30px; }
  .content p {
    color: #4267B2;
    margin: 30px; }
